# Ignore all compiled class files
*.class

# Ignore all .vscode folders anywhere in the project
!**/calculator/.vscode/

# Optional: Ignore README.md in Calculator specifically
/Calculator/calculator/README.md
